

.card {
display: inline-flex;
border: 2px solid black;
margin: 90px 30px 0 0;
position: r;
}

.ava {
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
}

.para {
    display: inline-block;
    margin:20px auto;
    padding: 10px ;
    
}


.title {
    text-transform: capitalize;
    padding-top: 5px;
}

.items {
    text-transform: capitalize;
}

.star {
    width: 150px;
}

.arl:link, .arl:visited {

    text-transform: capitalize;
    color: #007185; 
    font-weight: 600;
    
    
    

}
 
.arl:hover, .arl:active {
    text-transform: capitalize;
    
}

.item {
    padding-right: 50px;
    font-weight: 600;

}


.card::after{
    content:"AFG";
    position: absolute;
    top: 164px;
    left: 40px;
    background-color: red;
    color:rg;
    width: 40px;
    height: 33px;
    text-align: center;
    padding-top: 10px;

}

.top {


    content:"welcome back";
    top: -22px;
    left: 40px;
    background-color: blue;
    color: #050505;
    width: 740px;
    height:31px;
    text-align: center;
    padding-top: 10px;

}
.multicolortext {
    background-image: linear-gradient(red rgb(255, 255, 255) blue);
    font-size: 40px;



}


